Source: slack-notify
Section: utils
Priority: optional
Maintainer: Genki Sugawara <sgwr_dts@yahoo.co.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/winebarrel/slack-notify
#Vcs-Git: git://git.debian.org/collab-maint/slack-notify.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/slack-notify.git;a=summary

Package: slack-notify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Notify message to Slack channel
